/* CSS para estilizar a página 404 */
body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

h3.display-4 {
  font-size: 3rem;
  margin-top: 2rem;
  color: #dc3545;
}

p.lead {
  font-size: 1.5rem;
  color: #6c757d;
}


/* CSS para estilizar a página Home */

.containerHome {
  padding: 5%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

/* Título e linha horizontal */
.text-center h3 {
  color: #004085;
  font-size: 2em;
  margin-bottom: 10px;
}

.text-center hr {
  width: 50%;
  margin: 0 auto 20px;
  border: 0;
  border-top: 2px solid #007bff;
}

/* Conteúdo centralizado */
.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Coluna de seleção */
.colum {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.colum p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.form-select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: #495057;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* CSS para estilizar a página de detalhes do país */
.container {
  padding: 5%;
  margin-top: 50px;

  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.5em;
  line-height: 0.5rem;
}

.card-text {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  padding: 25px; 
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

